.container {
    grid-area: 1 / 1 /span 2 / span 2;
    padding: 4rem 8rem;
    composes: primaryBackgroundColor2 from '../../styles/_util.scss';
}
.projectsContainer {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.h1 {
    display: inline-block;
    font-size: 8rem;
    position: relative;
    margin: 3rem 0 10rem 0;
    z-index: 3;
}

.span {
    composes: crossedText from '../../styles/_util.scss';
    z-index: 2;
}
@media (max-width: 860px) { 
    .h1 {
        font-size: 4rem;
    }
}
@media (max-width: 400px) { 
    .container {
        padding: 1rem;
    }
    .h1 {
        margin: 3rem 0 3rem 0;
    }
}