.previewContainer {
    display: grid;
    grid-template-areas: 'body img'
                        ' tags links';
    grid-template-columns: 1fr 65%;
}
.imgContainer {
    grid-area: img;
}
.img {
    width: 100%;
}

.linksContainer {
    grid-area: links;
}
.linksContainer ul a{
    margin-left: auto;
}
.body {
    grid-area: body;
    padding-right: 5rem;
}
.tagContainer {
    grid-area: tags;
}

.lastLetter {
    composes: primaryColor1 from '../../styles/_util.scss';
}


