.container {
    grid-area: 1 / 1 /span 2 / span 2;
    padding: 4rem 8rem;
    composes: primaryBackgroundColor2 from '../../styles/_util.scss';
}
.projectsContainer {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.h1 {
    text-align: center;
    display: inline-block;
    font-size: 8rem;
    margin: 3rem 0 10rem 0;
    composes: primaryColor1 from '../../styles/_util.scss';
}


