.ul {
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
  padding: 0;
}
.ul li {
  font-size: .9rem;
}

.span {
  padding: 0 0.5rem;
  composes: lightGrayText from '../../styles/_util.scss';
}
.span:nth-of-type(1) {
  padding-left: 0;
}

/* .span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("http://i.imgur.com/5O74VI6.jpg");
  mix-blend-mode: lighten;
} */