.container {
    display: flex;
    overflow: hidden;
    flex-flow: wrap;
}
.landing {
    flex-basis: auto;
    flex-grow:2;
    transition: margin 1s ease-in-out; 
    composes: primaryBackgroundColor1 from '../../styles/_util.scss';
    display: grid;
    place-items: center center;
}
.moveToLeft {
    margin: 4rem 0;
}
.moveToRight {
    margin: 4rem 0;
}