.container {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    position: relative;
}

.h1 {
    font-size: 6rem;
    color: transparent;
}
.isOpening {
    animation: isOpening 0.8s linear forwards;
}
.isClosing {
    animation: isClosing 0.8s linear forwards;
}
@-webkit-keyframes isClosing {
    from {
        opacity: 1;
        transform: rotate(0deg) scale(1.0);
            
    }
    to {
        opacity: 0;
        transform: rotate(359deg) scale(0.0);
            
    }
}
@-webkit-keyframes isOpening {
    from {
        opacity: 0;
        transform: rotate(359deg) scale(0.0);
}
to {
    opacity: 1;
    transform: rotate(0deg) scale(1.0);
}
}
.span1::after, .span2::after, .span3::after, .span4::after, .span5::after {
    content: '';
    height: 300px;
    width: 100px;
    background-color: #4ECDC4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    z-index: -1;
}
.span1::before, .span2::before, .span3::before, .span4::before, .span5::before {
    content: '';
    height: 300px;
    width: 100px;
    background-color: #4ECDC4;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    z-index: -1;
}

.span1::after {
    opacity: .1;
    transform: rotate(0deg);
}
.span1::before {
    opacity: .2;
    transform: rotate(36deg);
}
.span2::after {
    opacity: .3;
    transform: rotate(72deg);
    animation: rotation3 5s infinite linear;
}
.span2::before {
    opacity: .4;
    transform: rotate(108deg);
    animation: rotation4 5s infinite linear;
}
.span3::after {
    opacity: .5;
    transform: rotate(144deg);
    animation: rotation5 5s infinite linear;
}
.span3::before {
    opacity: .6;
    transform: rotate(180deg);
    animation: rotation6 5s infinite linear;
}
.span4::after {
    opacity: .7;
    transform: rotate(216deg);
    animation: rotation7 5s infinite linear;
}
.span4::before {
    background-color: #FF6B6B;
    opacity: .8;
    transform: rotate(252deg);
    animation: rotation8 5s infinite linear;
}
.span5::after {
    opacity: .9;
    transform: rotate(288deg);
    animation: rotation9 8s infinite linear alternate;
}
.span5::before {
    background-color: #FF6B6B;
    opacity: 1;
    transform: rotate(324deg);
    animation: rotation10 8s linear infinite alternate;
}

.wrapper {
    align-self: flex-start;
    z-index: 5;
}

/* @media (max-width: 400px) {
    .span1 {
        font-size: 4rem;
        line-height: 2rem;
    }
}
@keyframes rotation1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes rotation2 {
    from {
        transform: rotate(36deg);
    }
    to {
        transform: rotate(395deg);
    }
}
@keyframes rotation3 {
    from {
        transform: rotate(72deg);
    }
    to {
        transform: rotate(431deg);
    }
}
@keyframes rotation4 {
    from {
        transform: rotate(108deg);
    }
    to {
        transform: rotate(467deg);
    }
}
@keyframes rotation5 {
    from {
        transform: rotate(144deg);
    }
    to {
        transform: rotate(503deg);
    }
}
@keyframes rotation6 {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(539deg);
    }
}
@keyframes rotation7 {
    from {
        transform: rotate(216deg);
    }
    to {
        transform: rotate(575deg);
    }
}
@keyframes rotation8 {
    from {
        transform: rotate(252deg);
    }
    to {
        transform: rotate(611deg);
    }
}*/

@media (max-width: 400px) {
    .span1::after, .span2::after, .span3::after, .span4::after, .span5::after {
        height: 210px;
        width: 70px;
    }
    .span1::before, .span2::before, .span3::before, .span4::before, .span5::before {
        height: 210px;
        width: 70px;
    }
}

.inProgress {
    display: none;
    margin-top: 30%;
    color: red;
    font-size: 2rem;
}
@media (max-width: 900px) {
    .inProgress {
        display: inherit;
    }
}