/* @import url('https://fonts.googleapis.com/css?family=Montserrat:black|Raleway');
@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Lato'); */
.boldText {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.75rem;
}

.primaryColor1 {
  color: #C81D25;
}
.primaryBackgroundColor1 {
  background-color: #C81D25;
}
.primaryColor2 {
  color: #F9F9F9;
}
.primaryBackgroundColor2 {
  background-color: #F9F9F9;
}

.blackBackgroundColor {
  background-color:#252627;
}

