@import url('https://fonts.googleapis.com/css?family=Montserrat:black|Raleway');
@import url('https://fonts.googleapis.com/css?family=Spectral');
@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Lato');
.boldText {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.75rem;
}

.colorScheme1 {
  color: #C81D25;
}



