@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400i|Montserrat|Open+Sans');
.container { 
    display: flex;
    width: 0;
    height: 100%;
    flex-flow: wrap;
    transition: width 1s ease-out, opacity 0.5s ease-out;
}
.wrapper {
    display: block;
    width: 100%;
    margin: 4rem 0 4rem 4rem;
}
.initialTransform {
    width: 0%;
    opacity: 0;
}
.startTransform {
    opacity: 1;
    width: 80%;
}
.t1 {
    display: flex;
    align-items: center;
}
.t3 {
    width: 100%;
}
.p1 {
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.p2 {
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
    font-family: 'Libre Baskerville', serif;
}
.p3 {
    font-size: 2rem;
}
.h1 {
    text-align: center;
    display: inline-block;
    font-size: 4rem;
    margin: 0;
    position: relative;
}

.span {
    composes: crossedText from '../../styles/_util.scss';
}
