.container {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    width: 100%;
    flex-flow: wrap;
    transition: all 1s linear;
}
.isClosing {
    opacity: 0;
    transform:scale(0);
}
.isOpening {
    opacity: 1;
    transform:scale(1);
}
.t1 {
    width: 100%;
    display: flex;
    align-items: center;
}
.t3 {
    width: 100%;
}

.bottom {
    display: flex;
    flex-flow: wrap;
    margin-top: auto;
    display: inline-block;
}
.imgContainer {
    width: 100%;
    text-align: center;
}
/* .p1, .p2, .p3 {

} */
.p1 {
    font-style: normal;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.p2 {
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
}
.p3 {
    font-size: 2rem;
}
.h1 {
    text-align: center;
    display: inline-block;
    font-size: 4rem;
    margin: 0;
    position: relative;
}
.span {
    composes: crossedText from '../../styles/_util.scss';
}