.content {
    display: grid;
    grid-template-areas:
            'left right';
    grid-template-columns: 1fr 1fr;
}

.left {
    grid-area: left;
    position: relative;
}
.right {
    grid-area: right;
    position: relative;
}

.leftOuterLayer {
    background-color: #EDEDED;
    height: 100%;
}

.rightOuterLayer {
    background-color: #1985A1;
    height: 100%;
}
.moveToLeft {
    transform: translate(-100%, 0);
    transition: -webkit-transform 1s linear;
}
.moveToRight {
    transform: translate(100%, 0);
    transition: -webkit-transform 1s linear;
}

.resetTransform {
    transform: none;
    transition: -webkit-transform 1s linear;
}