.content {
    display: grid;
    grid-template-areas:
            'left right';
    grid-template-columns: 1fr 1fr;
    position: relative;
    overflow: hidden;
}

.left {
    grid-area: left;
    position: relative;
}
.right {
    grid-area: right;
    position: relative;
}

.leftOuterLayer {
    background-color:#C81D25;
    height: 100%;
}

.rightOuterLayer {
    background-color: #F9F9F9;
    height: 100%;
}
.moveToLeft {
    transform: translate(-100%, 0)!important;
    transition: transform 1s linear!important;
}
.moveToRight {
    transform: translate(100%, 0)!important;
    transition: transform 1s linear!important;
}
.removeLeft {
    transform: translate(-100%, 0)!important;
    transition: transform 1s linear!important;
}
.removeRight {
    transform: translate(100%, 0)!important;
    transition: transform 1s linear!important;
}

.resetTransform {
    transform: none;
    transition: transform 1s linear;
}
