.content {
    display: flex;
    overflow: hidden;
}
.landing {
    flex-basis: auto;
    flex-grow:2;
    transition: margin 1s ease-in-out; 
    composes: primaryBackgroundColor1 from '../styles/_util.scss';
}
.moveToLeft {
    margin: 4rem 0;
}
.moveToRight {
    margin: 4rem 0;
}
/* .moveToRightReset {
    width: 100%;
} */

/* .removeLeft {
    transform: translate(-75%, 0)!important;
    transition: transform 1s linear!important;
}
.removeRight {
    transform: translate(75%, 0)!important;
    transition: transform 1s linear!important;
} */

/* .resetTransform {
    transform: none;
    transition: transform 1s linear;
}
 */