@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Raleway:600');
// Body
$body-bg: #f8fafc;

// Colors
$white: #FFFFFF;
$primaryBackgroundColor1: #FF5E5B;
$primaryBackgroundColor2: #F9F9F9;
$print: #606060;
$black:#373a3c;
$blacker:#252627;
html {
  text-size-adjust: 100%;
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  margin: 0;
  min-height: 100%;
}
#app {
  display: grid;
  grid-template-rows: 5vh 90vh 5vh auto auto;
  grid-template-columns: 5% 90% 5%;
}
#aside-left {
  grid-area: 1 / 1 / span 2 / span 1;
}
#top {
  grid-area: 1 / 2 / span 1 / span 1;
}
#aside-right {
  grid-area: 1 / 3 / span 2 / span 1;
}
#landing {
  grid-area: 2 / 2 / span 1 / span 1;
}
#bottom {
  grid-area: 3 / 2 / span 1 / span 1;
}
#projects {
  grid-area: 4 / 2 / span 1 / span 1;
}
#footer {
  grid-area: 5 / 1 / span 1 / span 3;
}

a {
  color: #252627;
  text-decoration: none;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}
h2, h3, h4 {
  color: $blacker;
  line-height: 2.75rem;
  font-weight: bolder;
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

p, span, a {
  color:$black;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  line-height: 1.75rem
}

@media (max-width: 400px) {
  #app {
    grid-template-rows: 6vh 90vh 4vh auto auto;
    grid-template-columns: 10vw 80vw 10vw;
  }
  #projects {
    grid-area: 4 / 1 / span 1 / span 3;
  }
  h2, h3, h4 {
    font-size: 1.5rem;
  }
}