.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .hidden {
    color: transparent;
  }
  &:focus {
    outline: none;
  }
}
.span {
  writing-mode: vertical-rl;
  text-orientation: upright;
  vertical-align: middle;
  transition: all .3s linear;
  composes: navText from '../../styles/_util.scss';
  &:hover {
    cursor: pointer;
  }
}
.active {
  letter-spacing: 4rem;
  margin-bottom: -4rem; 
}
.inActive {
  letter-spacing: .5rem;
  margin-bottom: 0; 
}