.container {
    text-align: center;
    padding-top: 0.25rem;
}

.span {
    composes: navText from '../../styles/_util.scss';
}
/* .active {
    composes: primaryColor1 from '../../styles/_util.scss';
} */
