.footer {
    place-self: start center;

    padding-top: 0.25rem;
}

.span {
    composes: boldText from '../../styles/_util.scss';
}

.active {
    composes: primaryColor1 from '../../styles/_util.scss';
}
.open {
    animation: open 1s forwards;

}

@keyframes clock{

    from {

    }
    to {
        transform: rotate(-360deg);
        text-orientation: upright;
        writing-mode: horizontal-tb;
    }


}