.container {
  place-self: center start;
  &:focus {
    outline: none;
  }
}
.navText {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
  font-family: Raleway, sans-serif;
}
.span {
  writing-mode: vertical-rl;
  text-orientation: upright;
  vertical-align: middle;
  transition: all .3s linear;
  composes: navText;
  &:hover {
    cursor: pointer;
  }
}
.active {
  letter-spacing: 4rem;
  margin-bottom: -4rem; 
}
.inActive {
  letter-spacing: .5rem;
  margin-bottom: 0; 
}
