.left {
    place-self: center end;
}

.span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    vertical-align: middle;
    composes: boldText from '../../styles/_util.scss';
}
.active {
    color: red;
}