.left {
    place-self: center end;
    padding-right: 0.25rem;
}
.wrapper {
    writing-mode: vertical-rl;
    text-orientation: upright;
    vertical-align: middle;
    position: relative;
    composes: navText from '../../styles/_util.scss';
}
.doubleCrossedText {
    composes: doubleCrossedText from '../../styles/_util.scss';
}

@keyframes open{

    from {

    }
    to {
        transform: rotate(-360deg);
        text-orientation: upright;
        writing-mode: horizontal-tb;
    }


}