.wrapper {  
  composes: navText from '../../styles/_util.scss';
}
.coloredText {
  color: #84DCC6;
}
.coloredText2 {
  color: #FF5E5B;;
}
.wrapper:hover:after {
    content: '';
    height: 4rem;
    width: 1rem;
    background-color: #FF5E5B;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    opacity: .5;
    z-index: -1;
    transform: rotate(45deg);
}
  .wrapper:hover:before {
    content: '';
    height: 4rem;
    width: 1rem;
    background-color: #FF5E5B;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    opacity: .5;
    z-index: -1;
    transform: rotate(-45deg);
}