.right {
    place-self: center start;

    padding-left: 0.25rem;
}

.span {
    writing-mode: vertical-rl;
    text-orientation: upright;
    vertical-align: middle;
    composes: boldText from '../../styles/_util.scss';
}

.active {
    color: red;
}

.container{
    width: 5rem;
}
.open {
    animation: open 1s forwards;


    padding-right: 2rem;
}
.setHorizontalText{
    animation: clock 1s forwards;
}
@keyframes open {
    to {
        width: 7rem;
    }
}
@keyframes clock{

    from {

    }
    to {
        transform: rotate(-360deg);
        text-orientation: upright;
        writing-mode: horizontal-tb;
    }


}