.top {
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.25rem;
}
.topLeft {
    margin-right: auto;
}
.topRight {
    margin-left: auto;
}
.span {
    composes: boldText from '../../styles/_util.scss';
}
.spanSwedish {
    padding-left: 0.15rem;
}